<!DOCTYPE html>
<body>
<h1>User Login</h1>

<form method="POST" action="">
    <table cellspacing="10">
        <tr>
            <td align="right"><label for="username">Username:</label></td>
            <td><input type="text" id="username" name="username" required></td>
        </tr>
        <tr>
            <td align="right"><label for="password">Password:</label></td>
            <td><input type="password" id="password" name="password" required></td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <button type="submit">Login</button>
            </td>
        </tr>
    </table>
</form>

</body>
</html>